/*	XOP-specific resources matrixFileReader on Windows

	This file is compiled by the resource compiler and creates XOP-specific
	resources that IGOR looks for in an XOP module.
*/

#include "IgorXOPs6-Beta-100819\XOPSupport\XOPResources.h"			// Defines XOP-specific symbols.

1100 STR#					// Custom error messages
BEGIN
	"MatrixFileReader requires Igor 6.20 or later.\0",			
	"Out of memory. Bad luck...\0",
	// You can add error messages here.
	
	0,								// NOTE: 0 required to terminate the resource.
END

/* no menu item */

1100 XOPI							// XOPI - Describes general XOP properties to IGOR. 
BEGIN
	XOP_VERSION,					// Version number of host XOP system.
	DEV_SYS_CODE,					// Code for development system used to make XOP.
	0,								// Obsolete - set to zero.
	0,								// Obsolete - set to zero.
	XOP_TOOLKIT_VERSION				// XOP Toolkit version.
END

1100 XOPC							// Describes functions added by XOP to IGOR.
BEGIN
	"MFR_OpenResultFile\0",
	XOPOp | utilOp | compilableOp,
	"MFR_CloseResultFile\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetBrickletCount\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetResultFileName\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetVersion\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetVernissageVersion\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetBrickletData\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetBrickletRawData\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetBrickletMetaData\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetReportTemplate\0",
	XOPOp | utilOp | compilableOp,
	"MFR_CreateOverviewTable\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetResultFileMetaData\0",
	XOPOp | utilOp | compilableOp,
	"MFR_CheckForNewBricklets\0",
	XOPOp | utilOp | compilableOp,
	"MFR_GetXOPErrorMessage\0",
	XOPOp | utilOp | compilableOp,
	"\0"							// NOTE: 0 required to terminate the resource.
END
