/*	XOP-specific resources for XFUNC1 on Windows

	This file is compiled by the resource compiler and creates XOP-specific
	resources that IGOR looks for in an XOP module.
*/

#include "C:\Documents and Settings\brt127\My Documents\gitRepo\Coding\XOP Toolkit 5\IgorXOPs5\XOPSupport\XOPResources.h"			// Defines XOP-specific symbols.

1100 STR#					// Custom error messages.
BEGIN
	"XFUNC1 requires Igor 6.0 or later.\0",			// Symbol from XFUNC1.h: REQUIRES_IGOR_200

	// You can add error messages here.
	
	0,								// NOTE: 0 required to terminate the resource.
END

/* no menu item */

1100 XOPI							// XOPI - Describes general XOP properties to IGOR. 
BEGIN
	XOP_VERSION,					// Version number of host XOP system.
	DEV_SYS_CODE,					// Code for development system used to make XOP.
	0,								// Obsolete - set to zero.
	0,								// Obsolete - set to zero.
	XOP_TOOLKIT_VERSION				// XOP Toolkit version.
END

1100 XOPF							// Describes functions added by XOP to IGOR.
BEGIN
	//variable openResultFile(string filepath, string fileName);
	"openResultFile\0";
	F_UTIL | F_EXTERNAL,			// Function category,
	NT_FP64,						// Return value type.
		HSTRING_TYPE,				// First parameter type.
		HSTRING_TYPE,				// Second parameter type.
		0,							// NOTE: 0 required to terminate list of parameter types.

	//variable closeResultFile();
	"closeResultFile\0",			// Function name.
	F_UTIL | F_EXTERNAL,			// Function category,
		NT_FP64,					// Return value type.
		0,							// NOTE: 0 required to terminate list of parameter types.

//	variable getNumberOfBricklets(variable *totalNumberOfBricklets);
	"getNumberOfBricklets\0",		// Function name.
	F_UTIL | F_EXTERNAL,			// Function category.
	NT_FP64,						// Return value
		FV_REF_TYPE | NT_FP64,		// first parameter.			
		0,							// NOTE: 0 required to terminate list of parameter types.
	
	// More function descriptions can appear here.
	
	0,								// NOTE: 0 required to terminate the resource.
END
